<p-splitButton
  [label]="label"
  [icon]="icon"
  [model]="model"
  [disabled]="disabled"
  [style]="style"
  [styleClass]="styleClass"
  [menuStyle]="menuStyle"
  [menuStyleClass]="menuStyleClass"
  [tabindex]="tabindex"
  [severity]="severity"
  [raised]="raised"
  [rounded]="rounded"
  [text]="text"
  [outlined]="outlined"
  [size]="size"
  [plain]="plain"
  [appendTo]="appendTo"
  [dir]="dir"
  [expandAriaLabel]="expandAriaLabel"
  [showTransitionOptions]="showTransitionOptions"
  [hideTransitionOptions]="hideTransitionOptions"
  (onClick)="onButtonClick($event)"
  (onDropdownClick)="onDropdownButtonClick($event)">
</p-splitButton>