{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "consistent",
  "printWidth": 100,
  "bracketSpacing": true,
  "semi": true,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "requirePragma": false,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ]
}