<p-listbox
  [options]="options"
  [optionLabel]="optionLabel"
  [optionValue]="optionValue"
  [optionGroupLabel]="optionGroupLabel"
  [optionGroupChildren]="optionGroupChildren"
  [optionDisabled]="optionDisabled"
  [disabled]="disabled"
  [multiple]="multiple"
  [checkbox]="checkbox"
  [filter]="filter"
  [filterBy]="filterBy"
  [filterMatchMode]="filterMatchMode"
  [filterLocale]="filterLocale"
  [emptyMessage]="emptyMessage"
  [emptyFilterMessage]="emptyFilterMessage"
  [group]="group"
  [listStyle]="listStyle"
  [styleClass]="styleClass"
  [listStyleClass]="listStyleClass"
  [metaKeySelection]="metaKeySelection"
  [dataKey]="dataKey"
  [showToggleAll]="showToggleAll"
  [ngModel]="value"
  (onChange)="onSelectionChange($event)"
  (onOptionClick)="onOptionClick($event)"
  (onDblClick)="onOptionDblClick($event)"
  class="w-full">
</p-listbox>