<p-calendar
  [placeholder]="placeholder"
  [disabled]="disabled"
  [readonlyInput]="readonly"
  [showIcon]="showIcon"
  [iconDisplay]="iconDisplay"
  [showButtonBar]="showButtonBar"
  [showTime]="showTime"
  [showSeconds]="showSeconds"
  [hourFormat]="hourFormat"
  [dateFormat]="dateFormat"
  [selectionMode]="selectionMode"
  [minDate]="minDate"
  [maxDate]="maxDate"
  [disabledDates]="disabledDates"
  [disabledDays]="disabledDays"
  [monthNavigator]="monthNavigator"
  [yearNavigator]="yearNavigator"
  [yearRange]="yearRange"
  [showWeek]="showWeek"
  [styleClass]="styleClass"
  [inputStyleClass]="inputStyleClass"
  [panelStyleClass]="panelStyleClass"
  [appendTo]="appendTo"
  [ngModel]="value"
  (onSelect)="onDateSelect($event)"
  (ngModelChange)="onDateChange($event)"
  class="w-full">
</p-calendar>