<p-inputNumber
  [format]="format"
  [showButtons]="showButtons"
  [buttonLayout]="buttonLayout"
  [incrementButtonClass]="incrementButtonClass"
  [decrementButtonClass]="decrementButtonClass"
  [incrementButtonIcon]="incrementButtonIcon"
  [decrementButtonIcon]="decrementButtonIcon"
  [locale]="locale"
  [localeMatcher]="localeMatcher"
  [mode]="mode"
  [currency]="currency"
  [currencyDisplay]="currencyDisplay"
  [useGrouping]="useGrouping"
  [minFractionDigits]="minFractionDigits"
  [maxFractionDigits]="maxFractionDigits"
  [min]="min"
  [max]="max"
  [step]="step"
  [allowEmpty]="allowEmpty"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [readonly]="readonly"
  [size]="size"
  [maxlength]="maxlength"
  [tabindex]="tabindex"
  [title]="title"
  [ariaLabel]="ariaLabel"
  [ariaRequired]="ariaRequired"
  [name]="name"
  [autocomplete]="autocomplete"
  [inputId]="inputId"
  [styleClass]="styleClass"
  [style]="style"
  [inputStyle]="inputStyle"
  [inputStyleClass]="inputStyleClass"
  [suffix]="suffix"
  [prefix]="prefix"
  [ngModel]="value"
  (onInput)="onInputEvent($event)"
  (onFocus)="onFocusEvent($event)"
  (onBlur)="onBlurEvent($event)"
  (onKeyDown)="onKeyDownEvent($event)"
  (ngModelChange)="onValueChange({ value: $event })"
  class="w-full">
</p-inputNumber>