<div [class]="getSizeClass()">
  <p-dropdown
    [options]="options"
    [optionLabel]="optionLabel"
    [optionValue]="optionValue"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [showClear]="showClear"
    [filter]="filter"
    [filterBy]="getFilterBy()"
    [filterPlaceholder]="filterPlaceholder"
    [emptyFilterMessage]="noResultsText"
    [emptyMessage]="emptyMessageText"
    [styleClass]="styleClass"
    [panelStyleClass]="panelStyleClass"
    [ngModel]="value"
    (onChange)="onSelectionChange($event)"
    appendTo="body"
    class="w-full"
  >
  </p-dropdown>
</div>
